<main>
  <div class="flex justify-evenly bg-black text-white items-center h-[75px]">
    <span class="logo">
      <a [routerLink]="['']">
        <img src="assets/logo-white.png" alt="logo" class="logoMain" />
      </a>
    </span>
    <!-- <a class="header-button" mat-button [routerLink]="['']" >Home</a> -->
    <a
      class="font-bold text-sm lg:text-xl m-2 lg:m-10 relative w-max one"
      mat-button
      [routerLink]="['/about']"
      >Nosotros
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-yellow-400"
      ></span>
    </a>
    <a
      class="font-bold text-sm lg:text-xl m-2 lg:m-10 relative w-max one"
      mat-button
      [routerLink]="['/schedules']"
    >
      Agenda
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-yellow-400"
      ></span>
    </a>
    <a
      class="font-bold text-sm lg:text-xl m-2 lg:m-10 relative w-max one"
      mat-button
      [routerLink]="['/barbers']"
      >Barberos
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-yellow-400"
      ></span>
    </a>
    <a
      class="font-bold text-sm lg:text-xl m-2 lg:m-10 relative w-max one"
      mat-button
      [routerLink]="['/locales']"
      >Locales
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-yellow-400"
      ></span>
    </a>
    <a
      class="font-bold text-sm lg:text-xl m-2 lg:m-10 relative w-max one"
      mat-button
      href="/tattoos"
      >Tatto
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-1 bg-yellow-400"
      ></span>
    </a>
  </div>
</main>
