<div>
  <div class="my-[2em] flex justify-center">
    <section class="info-container">
      <section class="item-content">
        <header class="header"><h1>Sobre Nosotros</h1></header>
        <p class="container-content text">
          En la Oveja Negra, llevamos años perfeccionando el arte de la
          barbería. Nuestra historia es una historia de pasión, habilidad y
          compromiso con nuestros clientes. Cada corte de pelo es una
          oportunidad para crear una obra maestra, y cada visita a nuestra
          barbería es una experiencia inolvidable.
        </p>
      </section>
      <section class="item-content">
        <header class="header"><h1>La Pasión por el Estilo</h1></header>
        <p class="container-content text">
          Desde el primer día, hemos estado obsesionados con el estilo y la
          perfección. Nuestro equipo de barberos no solo es hábil en su oficio,
          sino que también vive y respira la moda y las tendencias. Mantenemos
          nuestros dedos en el pulso de lo que está de moda para garantizar que
          siempre luzcas a la última moda.
        </p>
      </section>
    </section>
    <section class="container-img">
      <img
        class="img-about-we"
        src="../../assets/img/aboutWe/aboutWe.svg"
        alt="aboutWe"
      />
    </section>
  </div>
  <div class="my-[2em] flex justify-center items-center">
    <section class="container-img">
      <img
        class="img-about-we"
        src="/assets/img/aboutWe/barber-help.jpeg"
        alt="aboutWe"
      />
    </section>
    <section class="info-container">
      <section class="item-content">
        <header class="header"><h1>Servicio Personalizado</h1></header>
        <p class="container-content text">
          Sabemos que cada cliente es único, y tratamos a todos con el respeto y
          la atención que merecen. Nuestros barberos son expertos en escuchar
          tus deseos y necesidades, y te proporcionarán un servicio
          personalizado que se adapte a tu estilo y personalidad.
        </p>
      </section>
      <section class="item-content">
        <header class="header"><h1>Compromiso con la Calidad</h1></header>
        <p class="container-content text">
          En [Nombre de tu Barbería], no hacemos concesiones cuando se trata de
          la calidad. Utilizamos las mejores herramientas, productos y técnicas
          para asegurarnos de que cada corte sea excepcional. Nuestro objetivo
          es superar tus expectativas en cada visita.
        </p>
      </section>
    </section>
  </div>
</div>
