<div class="flex my-20 flex-wrap items-center justify-between">
  <div class="container m-auto md:w-[40%]">
    <p>Nosotros estamos aqui para ti</p>
    <h2 class="text-5xl">Oveja negra Tattoo</h2>
    <h4>
      Durante el proceso de tu cita vivirás una experiencia exclusiva por muy
      buenos artistas profesionales del tattoo y piercing.
    </h4>

    <shared-accordion></shared-accordion>
  </div>
  <div class="container m-auto md:w-[40%]">
    <img class="" src="assets/tatto.png" alt="" />
  </div>
</div>
