<main class="container my-[100px]">
  <div class="text-4xl text-center"><label> Nuestros barberos</label></div>

  <section
    class="content flex flex-col md:flex-row justify-center items-center"
  >
    <div class="barber-info">
      <label class="font-medium text-lg my-2">Bruno</label>
      <img
        src="/assets/img/barbers/barberOne.svg"
        alt="img-barber-one"
        width="35%"
      />
      <p class="descrition-barber">
        Desde os anos 2000 atuando no ramo da beleza como profissional, com
        diversos cursos nacionais e internacionais, vasto conhecimento nos mais
        diversos tipos e texturas de cabelos , além da sua especialidade em
        barbas, experiência única!
      </p>
      <hr class="w-[100%]" />
    </div>
    <div class="barber-info -barber-two">
      <label class="font-medium text-lg my-2">Felipe</label>
      <img
        src="/assets/img/barbers/barberTwo.svg"
        alt="img-barber-two"
        width="35%"
      />
      <p class="descrition-barber">
        Teve suas primeiras experiências cortando cabelos no salão da família.
        Investiu em um curso de barbeiro praticando em amigos e vizinhos. O ex
        advogado, cansado da rotina corporativa, decidiu mudar de vida e
        investir em seu sonho de infância.
      </p>
    </div>
  </section>
</main>
