<div class="m-5 md:m-[200px]">
  <h2 class="text-8xl text-center my-[100px]">contactanos</h2>
  <shared-form-contact></shared-form-contact>
  <img
    class="w-[100px] md:w-[200px] top-[10%] filter opacity-10 md:opacity-60 absolute md:left-0 md:top-[25%]"
    src="/assets/img/background/tattoo-bird.png "
    alt="tattoo woman"
  />
  <img
    class="w-[100px] md:w-[200px] right-0 top-[40%] filter opacity-60 absolute md:right-6 md:top-[35%]"
    src="/assets/img/background/tattoo-skull.png "
    alt="tattoo woman"
  />
</div>
