<nav
  class="md:block bg-[#ffffff74] dark:bg-gray-900 fixed w-full z-[2] top-0 left-0 border-b border-gray-200 dark:border-gray-600"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex md:order-2">
      <ul
        class="flex md:p-4 mt-4 font-medium border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            [routerLink]="['/']"
            class="block py-2 background-trasparent pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Barberia</a
          >
        </li>

        <li>
          <a
            [routerLink]="['contacto']"
            class="block py-2 background-trasparent pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contacto</a
          >
        </li>
        <li>
          <a
            [routerLink]="['tienda']"
            class="block py-2 background-trasparent pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Tienda</a
          >
        </li>
      </ul>
    </div>
    <ul
      class="flex md:p-4 mt-4 font-medium border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
      <li>
        <a
          routerLink="/tattoos"
          class="block py-2 background-trasparent pl-3 pr-4 text-black rounded md:bg-transparent md:p-0 md:hover:text-blue-700"
          >Tattoos</a
        >
      </li>
      <li>
        <a
          [routerLink]="['about']"
          class="block py-2 background-trasparent pl-3 pr-4 text-gray-900 rounded md:hover:text-blue-700 hover:bg-gray-100 md:hover:bg-transparent md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >nosotros</a
        >
      </li>
    </ul>
    <a [routerLink]="['/tattoos']">
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <img
          src="/assets/logo.png"
          class="h-[75px] w-[250px] mr-3"
          alt="logo Oveja negra"
        />
      </div>
    </a>
  </div>
</nav>
