<main>
  <footer>
    <div class="container-footer">
      <div class="box box-1">
        <h4 class="text-3xl font-bold underline m-[0]">Oveja Negra</h4>
        <p class="box text-secundary">studio</p>
      </div>
      <div class="box box-2">
        <mat-icon class="mat-icon">location_on</mat-icon>
        <label class="box text-secundary"></label>
        Prol Av.Jaquijahuana+N° 08,Anta >
      </div>
      <div class="box box-3">
        <mat-icon class="mat-icon">email</mat-icon>
        <div>
          <p class="box text-secundary">gmbarbershop@gmail.com</p>
          <p class="box text-secundary">55 (11) 99999-0085</p>
        </div>
      </div>
      <div class="box box-4">
        <img
          class="logo-social-medias"
          src="../../../assets/img/footer/instagram.png "
          alt="logo-instagram"
          width="30px"
        />
        <img
          class="logo-social-medias"
          src="../../../assets/img/footer/facebook.png "
          alt="logo-facebook"
          width="30px"
        />
        <img
          class="logo-social-medias"
          src="../../../assets/img/footer/tiktok.png "
          alt="logo-tiktok"
          width="30px"
        />
        <img
          class="logo-social-medias"
          src="../../../assets/img/footer/whatsapp.png "
          alt="logo-whatsapp"
          width="30px"
        />
      </div>
    </div>
  </footer>
</main>
