// colors - FIGMA

$color-brown: #7e5228;
$color-brown-dark: #5f3b19;
$color-white: #fff;
$color-white-lighter: #e5e5e5;
$color-black: #000000;
$color-grey: #cac9c8;
$color-grey-dark: #4a4a4a;
$color-turquoise-light: #56c2bf;
$color-link: #0000EE;
$color-red-lighter : #f4433687;
$color-red-light: #ff0000e6;
$color-green : #008000;
$color-orange: #ffa500;
$color-red: #ff0000;


// e0e0e0

$color-white-second: #f6f3ee;
$color-brown-lighter: #6c4e40;
$color-white-second-lighter: #aba79e;

$color-black-second: #0000006b;

// Fonts

$text: "Poppins", sans-serif;

$text_bold: "Exo 2", sans-serif;

$color-grey-lighter: hsla(0, 0%, 94%, 1);
$color-grey-light: hsla(0, 0%, 73%, 1);
