<main class="content">
  <section class="flex justify-evenly items-center gap-5">
    <div class="schedule-container">
      <label class="text-2xl">Horario de atencion</label>
      <p>9:00am a 7:00pm</p>
    </div>

    <div class="">
      <label class="text-2xl">Nuestro Blog</label>
      <p>suscribete para recibir noticias del studio Oveja Barber</p>
      <div class="flex gap-3 items-center">
        <input type="Email" placeholder="E-MAIL" class="input" />
        <button class="bg-red-700 p-3 text-white" type="submit">
          Cadastrar
        </button>
      </div>
    </div>
  </section>
  <section>
    <label class="label -locality">Localidade</label>
    <iframe
      class="google-map"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwmJLEDrbiuPBD071JlRc-cFZJINlsles
    &q=/CompuFibra,+Prol.+Av.+Jaquijahuana+N°+08,+Anta+08000"
      width="100%"
      height="80%"
      style="border: 0"
      allowfullscreen=""
      loading="fast"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</main>
