<main class="">
  <section
    class="flex flex-col md:flex-row justify-evenly items-center gap-5 text-center"
  >
    <div class="schedule-container">
      <label class="text-2xl">Horario de atencion</label>
      <p>9:00am a 7:00pm</p>
    </div>
  </section>
  <section
    class="text-center flex flex-col md:flex-row items-center gap-3 justify-center my-5"
  >
    <div class="text-center md:w-[50%]">
      <div class="flex flex-col justify-center items-center">
        <h2 class="text-2xl font-semibold">En Anta</h2>
        <div class="flex items-center">
          <mat-icon class="mat-icon">location_on</mat-icon>
          Prol Av.Jaquijahuana+N° 08,Anta
        </div>
      </div>
    </div>
    <iframe
      class="w-[100%] md:w-[50%] md:h-[250px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.1524330251705!2d-71.95301812491377!3d-13.526235286842518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916e7fd93e374537%3A0xd5c6d64b25419a7f!2sPeltroche%20Gym%20%26%20Fitness!5e0!3m2!1ses-419!2spe!4v1685567571498!5m2!1ses-419!2spe"
      allowFullScreen="{true}"
      loading="lazy"
      title="map"
    ></iframe>
  </section>

  <hr />
  <section
    class="text-center flex flex-col-reverse md:flex-row items-center gap-3 justify-center my-5"
  >
    <iframe
      class="w-[100%] md:w-[50%] md:h-[250px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.1524330251705!2d-71.95301812491377!3d-13.526235286842518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916e7fd93e374537%3A0xd5c6d64b25419a7f!2sPeltroche%20Gym%20%26%20Fitness!5e0!3m2!1ses-419!2spe!4v1685567571498!5m2!1ses-419!2spe"
      allowFullScreen="{true}"
      loading="lazy"
      title="map"
    ></iframe>
    <div class="text-center md:w-[50%]">
      <div class="flex flex-col justify-center items-center">
        <h2 class="text-2xl font-semibold">En Quillabamba</h2>
        <div class="flex justify-center">
          <mat-icon class="mat-icon">location_on</mat-icon>
          Prol Av.Jaquijahuana+N° 08,Anta
        </div>
      </div>
    </div>
  </section>
</main>
